.container {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  min-width: 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: 1fr;
  }
}
